.heading {
    font-family: var(--font-primary);
    font-size: 1.5rem;

    &--lg {
        font-size: 1.5rem;

        @include mq('sm') {
            font-size: 2rem;
        }
    }

    &--xl {
        font-size: 2.5rem;
    }

    &--xxl {
        font-size: 2rem;

        @include mq('sm') {
            font-size: 3rem;
        }
    }

    &--primary {
        color: var(--color-primary);
    }

    &--secondary {
        color: var(--color-secondary);
    }

    &--center {
        text-align: center;
    }
}