.input {
    padding: 0.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-mid-gray);
    border-radius: 0.5rem;
    font-family: var(--font-secondary);
    
    &--error {
        border: 2px solid var(--color-error);
    }

    &--space-b {
        margin-bottom: 1rem;
    }
}

.label {
    font-family: var(--font-secondary);
    font-weight: bold;
    
    &--lg {
        font-size: 1.25rem;
    }

    &--space-b {
        margin-bottom: 0.5rem;
    }
}