.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;

    @include mq('sm') {
        padding: 3rem 6rem;
    }
    
    &__subheading {
        font-family: var(--font-secondary);
        font-size: 1rem;
        @include mq('sm') {
            font-size: 1.25rem;
        }
        
        text-align: center;
        max-width: 1000px;
        margin-top: 0;

        &--edit {
            padding: 2rem;
            border-radius: 0.5rem;
            font-weight: bold;
            background-color: var(--color-complementary-light);
            color: var(--color-complementary);
            margin-top: 3rem;
        }
    }

    &__subheading-strong {
        color: var(--color-primary);
    }


}