.bs {
    padding: 0 1rem 1rem 1rem;
    
    @include mq('sm') {
        padding: 0 2rem 2rem 2rem;
    }
    
    &__controls {
        font-family: var(--font-primary);
        border-spacing: 0;
        border-collapse: collapse;
        margin: 1.5rem auto;
    }

    &__control-header {
        padding: 0 0 1rem 0;
    }

    &__control-cell {
        padding: 0.5rem;
        border: 1px solid var(--color-gray);
        text-align: left;
    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input-wrapper {
        position: relative;
        width: 100%;

        @include mq('sm') {
            width: 75%;
        }
        display: flex;
        justify-content: center;
    }


    &__input-error {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }

    &__parse-error {
        margin-top: 2rem;
    }

}