.body {
    min-height: 100vh;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;

    @include mq('sm') {
        padding: 3rem 6rem;
    }
    
    &__subheading {
        font-family: var(--font-secondary);
        font-size: 1rem;
        @include mq('sm') {
            font-size: 1.25rem;
        }
        text-align: center;
        max-width: 1000px;
    }

    &__subheading-strong {
        color: var(--color-primary);
    }

    &__controls {
        font-family: var(--font-primary);
        border-spacing: 0;
        border-collapse: collapse;
    }

    &__control-header {
        padding: 0 0 1rem 0;
    }

    &__control-cell {
        padding: 0.5rem;
        border: 1px solid #AAAAAA;
    }
}

.app-main {
    padding: 0 2rem 2rem 2rem;
    
    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input-wrapper {
        position: relative;
        width: 100%;

        @include mq('sm') {
            width: 75%;
        }
        display: flex;
        justify-content: center;
    }

    &__input {
        padding: 0.5rem 1rem;
        width: 100%;
        box-sizing: border-box;

        &--error {
            border: 2px solid var(--color-error);
        }
    }

    &__submit {
        margin-top: 2rem;
        padding: 0.75rem 1.5rem;
        font-family: var(--font-secondary);
        font-size: 1.25rem;
        border: none;
        background-color: var(--color-primary);
        color: var(--color-secondary);
        letter-spacing: 0.05rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }

    &__input-error {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }

    &__parse-error {
        margin-top: 2rem;
    }
}

.app-tree {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    &__content {
        width: fit-content;
        box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.75);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}