.ct-actions {
    flex-basis: 100%;
    @include mq('md-lg') {
        flex-basis: 45%;
    }
    padding: 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 0.5rem;
    margin: 2rem 0 0 0;

    @include mq('md-lg') {
        margin: 0 2rem 0 0;
    }
    
    height: fit-content;
    min-width: 300px;
    box-sizing: border-box;

    &__action-section {
        margin-bottom: 1rem;

        &:not(:first-child) {
            padding-top: 1rem;
            border-top: 1px solid var(--color-mid-gray);
        }
    }

    &__action-header {
        margin-bottom: 1rem;
        padding-top: 1rem;
    }

    &__no-active {
        text-align: center;
    }
    
    &__init-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }

    &__update-form {
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-top: 1rem;
        }
    }

    &__init-input {
        width: 33%;
        margin-bottom: 1rem;
    }

    &__string-section {
        padding-top: 1rem;
        border-top: 1px solid var(--color-mid-gray);
    }

    &__bs-string {
        padding: 1rem;
        margin: 1rem 0;
        font-family: var(--font-secondary);
        font-weight: 600;
        background-color: var(--color-light-gray);
        overflow-x: auto;
        white-space: nowrap;
    }
    
}