.ct {
    display: flex;
    flex-direction: column-reverse;
    @include mq('md-lg') {
        flex-direction: row;
    }
    
    justify-content: center;

    &__heading {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 0.25rem;
        border-bottom: 4px solid var(--color-primary-medium-light); 
        text-align: center;
        @include mq('sm') {
            text-align: left;
        }
    }


    
    &__tree {
        margin-top: 2rem;
    }


    &__active-node > circle {
        fill: var(--color-primary);
        stroke: none;
    }

    &__active-node > text {
        fill: var(--color-secondary);
    }

    &__helper-text {
        font-family: var(--font-secondary);
        font-weight: bold;
        font-style: italic;

        &--no-space-t {
            margin-top: 0;
        }
    }   
}