:root {
    --color-primary: #0062FF;
    --color-primary-light: rgba(0, 98, 255, 0.5);
    --color-primary-dark: #005BED;
    --color-primary-opaque: rgba(0, 98, 255, 0.05);
    --color-secondary: #FFFFFF;
    --color-error: #FF5A5F;
    --color-gray: #AAAAAA;
}